{% load wagtailcore_tags wagtailimages_tags core_tags wagtailsettings_tags i18n %}
{% get_settings %}
{% if settings.core.SiteSettings.facebook_sharing or settings.core.SiteSettings.twitter_sharing %}
<div class="social-share">
  <p class="social-share-label">{% trans "Share on:" %}</p>
  {% if settings.core.SiteSettings.facebook_sharing %}
    <a href="{% url 'molo.yourtips:share_tip_on_facebook' each_article.id %}" target="_blank" class="call-to-action__item-share--yourtips call-to-action__item-share-with-image">
      {% image facebook width-30 %}
      Facebook
    </a>
  {% endif %}
  {% if settings.core.SiteSettings.twitter_sharing %}
    <a href="{% url 'molo.yourtips:share_tip_on_facebook' each_article.id %}" target="_blank" class="call-to-action__item-share--yourtips call-to-action__item-share-with-image">
      {% image twitter width-30 %}
      Twitter
    </a>
  {% endif %}
</div>
{% endif %}
