{% load wagtailcore_tags wagtailimages_tags static core_tags i18n %}
<div class="yourtips-list">
  <div class="yourtips-list__item">
    {% include "patterns/basics/promoted-tips/yourtips-article-tag.html" %}
    {% for block in most_popular_tip.body %}
      {% if block.block_type == 'paragraph' %}
        <h3 class="yourtips__description">{{ block.value }}</h3>
      {% elif block.block_type == 'heading' %}
        <p class="yourtips__author">{{ block.value }}</p>
      {% endif %}
    {% endfor %}
  </div>
</div>
