{% load wagtailcore_tags wagtailimages_tags static core_tags i18n el_pagination_tags %}
{% block content %}
  {% paginate 10 object_list as articles %}
  <ol>
    {% for each_article in articles %}
      <li>
        <div class="posted_date">
          Posted: {{ each_article.latest_revision_created_at }}
        </div>
        <div class="content">
          {{ each_article.body }}
        </div>
      </li>
    {% endfor %}
  </ol>
  <div id="pagination">
    {% include "patterns/basics/pagination/pagination-pageof.html" %}
  </div>
  {% get_pages %}
  {% if pages.next %}
    <a id="more-link" class="call-to-action call-to-action__item more-link" href="#" data-next="{% url 'molo.yourtips:recent_tips_index' %}?page={{pages.next.number}}&locale={{locale_code}}">Load More</a>
  {% endif %}
{% endblock %}
