{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static core_tags i18n %}

{% block content %}

<div class="yourtips yourtips--entries">
  <div class="heading-container {% if self.image %}feature-image{% endif %}">
    {% if tip.thank_you_page.get_parent_page.get_effective_image %}
      {% image tip.thank_you_page.get_parent_page.get_effective_image width-98 as tmp_photo_small %}
      {% image tip.thank_you_page.get_parent_page.get_effective_image width-320 as tmp_photo_large %}
       <img src="{{ tmp_photo_small.url }}" srcset="{{ tmp_photo_large.url }}" alt="{{ self.get_parent_page.get_effective_image.title }}"/>
    {% endif %}
    <h1 class="heading heading--yourtips">
        {% trans "Share your tip" %}
    </h1>
  </div>

  <h3 class="tip__title">{{tip.title}}</h3>
  <h4 class="tip__title tip__title--description">{{tip.description}}</h4>
  <div class="yourtips--inner-content">
    {% for block in tip.content %}
        {% if block.block_type == 'heading' %}
            <h1 class="heading yourtips">
              {{ block.value }}
            </h1>
        {% else %}
            {% if block.block_type == 'image' %}
                {% image block.value width-240 %}
            {% else %}
                {% if block.block_type == 'numbered_list' %}
                    <ol>
                    {% for item in block.value %}
                        <li>{{ item|handle_markdown }}</li>
                    {% endfor %}
                    </ol>
                {% else %}
                    {% if block.block_type == 'list' %}
                      <ul>
                      {% for item in block.value %}
                        <li>{{ item|handle_markdown }}</li>
                      {% endfor %}
                    </ul>
                    {% else %}
                        {{ block }}
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
    {% endfor %}
    </div>
    <form method="post" class="yourtips-form">
    {% csrf_token %}
        <fieldset>
          <label for="">{% trans "Compose your tip (1 - 2 sentences)" %}</label>
          {{ form.tip_text }}
          {% if form.tip_text.errors %}
            <p class="alert-error" >* {{form.tip_text.errors|join:' '}}</p>
          {% endif %}
        </fieldset>

         <fieldset>
          {{ form.user_name }}
          <label>{% trans "Include your name (optional)" %}</label>
        </fieldset>

        <fieldset>
           {{ form.allow_share_on_social_media }}
           <label for="id_allow_share_on_social_media">{% trans "I agree that my tip can be shared on Facebook and Twitter (optional)" %}</label>
           {% if form.allow_share_on_social_media.errors %}
          <p class="alert-error">* {{form.allow_share_on_social_media.errors|join:' '}}</p>
          {% endif %}
        </fieldset>

        <input type="submit" value="Submit Your Tip" />
    </form>

    <a href="{{request.site.root_page.url}}" class="call-to-action__nav-item call-to-action__nav-item--yourtips call-to-action__nav-item--back-home">{% trans "Home" %}</a>
</div>
{% endblock %}
