{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static core_tags tip_tags i18n %}

{% block content %}
  <div class="breadcrumbs">
    {% block breadcrumbs %}
      {% breadcrumbs %}
    {% endblock %}
  </div>
  <h1>{{ page.title }}</h1>
  <h3>{{ page.subtitle }}</h3>

  <ol>
    {% for tip in page.get_children|dictsortreversed:"latest_revision_created_at" %}
      {% with tip=tip.specific %}
        <li>
          {{ tip.latest_revision_created_at }}
          {{ tip.body }}
        </li>
      {% endwith %}
    {% endfor %}
  </ol>
{% endblock %}