{% load wagtailcore_tags wagtailimages_tags static core_tags i18n %}
{% block content %}
{% if article_tip %}
<div class="yourtips">
  <h1 class="heading heading--yourtips">{% trans "Your Tips - Latest Tip" %}</h1>
  <div class="yourtips-list">
    <div class="yourtips-list__item">
      <h3 class="yourtips__description">{{ article_tip.body }}</h3>
    </div>
  </div>
  <a href="{% url 'molo.yourtips:tip_entry' 'tips' %}" class="call-to-action__nav-item-text">
    {% trans "Submit a tip" %}
  </a>
</div>
{% endif %}
{% endblock %}
