{% load wagtailcore_tags wagtailimages_tags static core_tags i18n %}

{% block content %}

<div class="yourtips yourtips-{{self.get_effective_extra_style_hints}}">
  <h1 class="yourtips link--yourtips">
    <a href="{% url 'molo.yourtips:recent_tips' %}" class="call-to-action__nav-item call-to-action__nav-item--yourtips">
      {% trans "Recent Tips" %}
    </a>
  </h1>
  <h1 class="yourtips link--yourtips">
    <a href="{% url 'molo.yourtips:tip_entry' 'your-tips-page' %}" class="call-to-action__nav-item call-to-action__nav-item--yourtips">
      {% trans "Submit a Tip!" %}
    </a>
  </h1>
</div>

{% endblock %}
