{% load wagtailcore_tags wagtailimages_tags static core_tags i18n %}
{% block content %}
{% if article_tip %}
<div class="yourtips">
  <h1 class="heading heading--yourtips heading--hero-yourtips">
    {% trans "Your Tips - Latest Tip" %}
  </h1>
  <div class=" yourtips-list">
    <h4 class="tip__body">{{ article_tip.body }}</h4>
  </div>
  <div class="call-to-action">
    <a href="{% url 'molo.yourtips:tip_entry' 'tips' %}" class="call-to-action__nav-item-text call-to-action__nav-item-text--login">
      {% trans "Submit a tip" %}
    </a>
  </div>
</div>
{% endif %}
{% endblock %}
