{% load wagtailcore_tags wagtailimages_tags static core_tags tip_tags i18n %}
{% block content %}
{% get_your_tip as your_tip %}
{% if article_tip and your_tip.get_number_of_tips %}
<div class="yourtips">
  <h1 class="heading heading--yourtips">
    {% trans "Tip of the Day" %}
  </h1>
  <div class="yourtips-list">
    <div class="yourtips-list__item">
      <h3 class="yourtips__description yourtips__description-homepage">
        <!-- This returns extra markup
          E.g. <div class="block-paragraph"><p>
        -->
        {{ article_tip.body }}
      </h3>
      <a href="{% url 'molo.yourtips:tip_entry' your_tip_page_slug %}" class="call-to-action__nav-item">
        {% trans "Submit a tip" %}
      </a>
      <a href="{% url 'molo.yourtips:recent_tips' %}" class="call-to-action__nav-item">
        {% trans "Recent Tips" %}
      </a>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
