{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static core_tags i18n %}
{% block content %}
<div class="yourtips">
  <div class="heading-container {% if self.image %}feature-image{% endif %}">
    {% if tip_page.get_effective_image %}
      {% image tip_page.get_effective_image width-98 as tmp_photo_small %}
      {% image tip_page.get_effective_image width-320 as tmp_photo_large %}
       <img src="{{ tmp_photo_small.url }}" srcset="{{ tmp_photo_large.url }}" alt="{{ self.get_parent_page.get_effective_image.title }}"/>
    {% endif %}
    <h1 class="heading heading--yourtips">
        {% trans "Share your tip" %}
    </h1>
  </div>
  <h3 class="tip__title">{{tip_page.title}}</h3>
  <h4 class="tip__title tip__title--description">{{tip_page.description}}</h4>
  {% include "patterns/basics/forms/form.html" %}
  <a href="{{request.site.root_page.url}}" class="call-to-action__nav-item call-to-action__nav-item--yourtips call-to-action__nav-item--back-home">{% trans "Home" %}</a>
</div>
{% endblock %}
