{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags tip_tags static core_tags i18n %}
{% block content %}
<div class="yourtips yourtips--page">
  <h1 class="heading heading--yourtips-page">{{tip_page.title}}</h1>
  <h3 class="yourtips__description">{{tip_page.description}}</h3>
  {% include "patterns/basics/forms/form.html" %}
  {% your_tips_on_tip_submission_form %}
  <a href="{{request.site.root_page.url}}" class="call-to-action__nav-item">
    {% trans "Home" %}
  </a>
</div>
{% endblock %}
