{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static tip_tags core_tags i18n %}
{% block content %}
  {% get_your_tip as your_tip %}
  <div class="breadcrumbs">
    <ul class="breadcrumbs-list">
      <li class="breadcrumbs-list__item">
        <a href="{{request.site.root_page.url}}" class="breadcrumbs-list__anchor">{% trans "Home" %}</a>
      </li>
      <li class="breadcrumbs-list__item">
        <span class="breadcrumbs-list-with-bg__anchor is-active">{% trans your_tip.title %}</span>
      </li>
    </ul>
  </div>
  <div class="yourtips">
    <ul class="yourtips-menu">
      {% if your_tip.get_number_of_tips %}
      <li class="yourtips-menu__item">
        <!--Menu Icon - from CMS?-->
        <a href="{% url 'molo.yourtips:recent_tips' %}" class="call-to-action__nav-item">
          {% trans "Recent Tips" %}
          <!--Menu description - From CMS?-->
        </a>
      </li>
      {% endif %}
      {% if your_tip.get_number_of_popular_tips %}
      <li class="yourtips-menu__item">
        <!--Menu Icon - from CMS?-->
        <a href="{% url 'molo.yourtips:popular_tips' %}" class="call-to-action__nav-item">
          {% trans "Popular Tips" %}
          <!--Menu description - From CMS?-->
        </a>
      </li>
      {% endif %}
      <li class="yourtips-menu__item">
        <!--Menu Icon - from CMS?-->
        <a href="{% url 'molo.yourtips:tip_entry' 'your-tips-page' %}" class="call-to-action__nav-item">
          {% trans "Submit a Tip!" %}
          <!--Menu description - From CMS?-->
        </a>
      </li>
    </ul>
  </div>
{% endblock %}
