{% load wagtailcore_tags wagtailimages_tags static core_tags i18n %}
{% block content %}
<div class="yourtips">
{% if most_popular_tip %}
  <h2 class="heading heading--yourtips-title heading--line-break">
    {% trans "Most popular tip" %}</h2>
    {% include "patterns/basics/promoted-tips/yourtips-on-submission-form.html" %}
{% endif %}

{% if most_recent_tip %}
  <h2 class="heading heading--yourtips-title">{% trans "Most recent tip" %}</h2>
  {% include "patterns/basics/promoted-tips/yourtips-on-submission-form.html" %}
  <a href="{% url 'molo.yourtips:recent_tips' %}" class="call-to-action__nav-item">
    {% trans "See more Tips" %}
  </a>
{% endif %}
</div>
{% endblock %}
